<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true"
         backupStaticAttributes="false" cacheResult="false" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false"
         processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false"
         stopOnSkipped="false" stopOnRisky="false" timeoutForSmallTests="1" timeoutForMediumTests="10"
         timeoutForLargeTests="60" verbose="false">
    <coverage/>
    <php>
        <env name="OXFORD_APP_ID" value="testing"/>
        <env name="OXFORD_APP_KEY" value="testing"/>
        <env name="OXFORD_APP_BASE_URL" value="testing"/>
        <env name="OXFORD_APP_LANGUAGE" value="testing"/>
        <env name="OXFORD_APP_SEARCH_WORD" value="testing"/>
        <env name="REDIS_SCHEME" value="redis"/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PORT" value="redis"/>
    </php>
</phpunit>
